
<section class="add-product ">
    <div class="container mt-4 pb-5">
        <div class="row d-flex justify-content-center mt-md-5 ">

            <div class="col-md-6">
                <h2 style="margin-left: -120px;" class="text-center mt-4">Add Offer</h2>
                <form class="" action="/admin/add-offer" onsubmit="return categoryvalidate()" method="post">
                    <p id="message" class="text-danger"></p>
                    <select name="brand" id="brand" class="form-select w-75 my-3" aria-label="Default select example">
                        <option selected>Brand</option>
                        {{#each brand}}
                        <option value="{{this.brandName}}">{{this.brandName}}</option>
                        {{/each}}
                    </select>
                    
                    <label for="">Discount in %</label>
                    <input type="text" name="discount" class="form-control w-75"  onkeypress="return validateNumber(event)" min="1" max="90" class="form-control w-75"  id="code_pin" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2">
                    <label for="">Expire Date</label>
                    <input id="expiredate" type="date" name="expireDate" class="form-control w-75">
                    <button style="width: 5em; height:2em" type="submit" class="btn btn-success mt-4">Submit</button>
                    </div>
                   
                    <!--in case of file uploading use in above form as enctype="multipart/form-data" -->
                    

                  

                    
                </form>
            </div>
        </div>
    </div>
</section>

<script>
      
    function categoryvalidate(){ 
        alert("hii")
        var username1 = document.getElementById('code_pin').innerHTML
        var brand = document.getElementById('brand').value
        
        console.log(brand)
        console.log(username1)
        
        if(username1.trim()=="" || brand == "Brand")
        {   
            document.getElementById('message').innerHTML="cannot be empty"
            return false; 
        }
        else{
            return true
        }
    }
</script>