
<section class="add-product ">
    <div class="container mt-4 pb-5">
        <div class="row d-flex justify-content-center mt-md-5 ">

            <div class="col-md-6">
                <h2 style="margin-left: -120px;" class="text-center mt-4">Edit Category</h2>
                <form class="" action="/admin/edit-category" method="post" enctype="multipart/form-data">
                    <input type="text" value="{{category._id}}" name="_id" style="display: none;">
                    <label for="">Categroy Name</label>
                    <input value="{{category.Name}}" type="text" name="Name" class="form-control w-75">
                    <button style="width: 5em; height:2em" type="submit" class="btn btn-success mt-4">Submit</button>
                    </div>
                   
                    <!--in case of file uploading use in above form as enctype="multipart/form-data" -->
                    

                  

                    
                </form>
            </div>
        </div>
    </div>
</section>