<div class="hscroll">
  
<table width="100%" border="1" cellspacing="0" cellpadding="6">
<tbody>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Age</th>
<th>Favorite Movie</th>
<th>Favorite Band/Aritst</th>
<th>Favorite Food</th>
<th>Favorite Drink</th>
<th>Subscriber?</th>
<th>Account Status</th>
<th>Last Login Date</th>
</tr>
<tr>
<td>Ron</td>
<td>Wilson</td>
<td>30</td>
<td>Wizard of Oz</td>
<td>Oasis</td>
<td>Pizza</td>
<td>Beer</td>
<td>Yes</td>
<td>Paid</td>
<td>2017-09-14</td>
</tr>
<tr>
<td>Armando</td>
<td>Reyes</td>
<td>17</td>
<td>Star Wars</td>
<td>Phantogram</td>
<td>Donuts</td>
<td>Soda</td>
<td>No</td>
<td>On Hold</td>
<td>2017-09-10</td>
</tr>
<tr>
<td>Sarah</td>
<td>Thompkins</td>
<td>62</td>
<td>Ghostbusters</td>
<td>Arcade Fire</td>
<td>French Fries</td>
<td>Water</td>
<td>Yes</td>
<td>Paid</td>
<td>2017-09-13</td>
</tr>
<tr>
<td>Lorraine</td>
<td>Schugel</td>
<td>25</td>
<td>Moana</td>
<td>Bush</td>
<td>Cereal</td>
<td>Wine</td>
<td>Yes</td>
<td>Paid</td>
<td>2017-08-30</td>
</tr>
</tbody>
</table>
  
</div>

<style>
    /* This container class will allow a table to scroll horizontally on smaller screens. */
.hscroll {
  overflow-x: auto; /* Horizontal */
}
</style>